body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: black;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  border: 2px solid #C0C0C0;
  background-color: #202020;
  padding: 20px;
}

.clock, .digit {
  color: white;
  margin-right: 20px;
  background-color: #404040;
  border: 1px solid #C0C0C0;
  border-radius: 10px;
  font-size: 100px;
  width: 120px;
  text-align: center;
  padding: 20px;
  margin: 10px 10px;
}

.clock {
  margin-right: 20px;
}
